<a href="https://colab.research.google.com/github/lvo123/CMSC320-Assignment-1-Dr.Alam/blob/main/CMSC320_HW1_Fall2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **HOMEWORK 1: CAUTION! CONTENTS ARE HOT** üåã
## **DUE: *SEPTEMBER 19, 2024 @ 11:59 PM***
## **24-HR LATE DUE DATE WITH A 15% PENALTY: *SEPTEMBER 20, 2024 @ 11:59 PM***

---------------------
#### **DATASET DESCRIPTION**

The [NCEI/WDS Global Significant Volcanic Eruptions Database](https://www.ncei.noaa.gov/access/metadata/landing-page/bin/iso?id=gov.noaa.ngdc.mgg.hazards:G10147) is a very comprehensive collection of +600 volcanic eruptions dating from 4360 BC to the present. Due to the nature of this assignment, we will be dealing with relatively newer volcanoes (in which some are still obviously still older than anyone on Earth currently). Each eruption in the database is classified as significant if it meets one or more criteria, such as causing fatalities, incurring **damage on property** (**+$1 million**), reaching a **Volcanic Explosivity Index (VEI)** of **6 or higher**, generating a tsunami, or being linked to a significant earthquake. The VEI is a scale that measures the explosiveness of volcanic eruptions, providing insight into the magnitude and potential consequences of the eruptions. The database includes detailed information on the location, type of volcano, last known eruption, VEI, casualties, property damage, and much more.
![volcano](https://wikitravel.org/upload/shared//9/99/Volcano_de_Fuego_Banner.jpg)

#### **Objective of the Assignment:**

**We are going to dive straight into these volcanoes (well... their dataset), to swim our way into Pandas and SQL proficiency!**

You will find the [Pandas Documentation](https://pandas.pydata.org/docs/user_guide/index.html) helpful. There are also some helpful links to guide you along the way! Don't get burned üî•

---------------------

### **DO NOT REMOVE ANY PART OF ANY OF THE QUESTIONS OR YOU LOSE CREDIT**
### *No Hardcoding either*  üòã‚ù§Ô∏è‚Äçüî•
### **REMEMBER TO SHOW ALL CODE OUTPUT (NO CREDIT OTHERWISE)**

### **Part 1: Maintenance ü§© (25 POINTS TOTAL)**
First, we're going to familiarize ourselves with the process. As in most languages, Python looks best when its modules are imported first before any other code is written ‚ú®

In [ ]:
# Make sure these code blocks run properly and that you have properly installed the appropriate modules required.
import pandas as pd
import requests
# import other libraries here

# Don't remove this
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

As you may have noticed, there's another library aside from Pandas called "[requests](https://requests.readthedocs.io/en/latest/)." **The requests library allows you to send HTTP requests to a server, retrieve the content, and process it at ease.** It's very beginner friendly for those attempting to get into webscraping (super important for collecting and creating datasets). We also recommend looking into [BeautifulSoup](https://beautiful-soup-4.readthedocs.io/en/latest/) (yeah, soup LOL), another wonderful library that can be paired with the requests library for webscraping.

As shown below, sometimes specific websites require specific headers in order to process a request to access the data.

To check if a request was processed successfully, use the [status_code](https://requests.readthedocs.io/en/latest/api/) function to see if the process returned 200.

In [6]:
# API URL and headers in case request gets denied.
api_url = "https://www.ngdc.noaa.gov/hazel/hazard-service/api/v1/volcanoes"

headers = {
    'accept': '*/*'
}

#### **TASK 1.0: Cute Webscraping (5 points)**
To make our cute webscraper we need to **create a GET request** using the relevant information given above.

This particular dataset NOAA returns data from the API as ***json*** when a user makes a request. The json data has a particular format, so we will extract our needed information only from the field called **items** to make a dataframe.

**After properly scraping the data, name this dataframe** ***df***

**Save this dataframe into a CSV file named 'volcanoes.csv'**

**You won't need to run this more than once**

In [6]:
# REMOVE THIS COMMENT AND ANSWER STARTING HERE
api_url = "https://www.ngdc.noaa.gov/hazel/hazard-service/api/v1/volcanoes"
# Send GET request to NOAA API
response = requests.get(api_url)

# Check if request was successful
if response.status_code == 200:
    # Parse the response JSON
    data = response.json()

    # Extract the 'items' field
    items = data.get('items', [])

    # Convert the 'items' field to a DataFrame
    df = pd.DataFrame(items)

    # Save the DataFrame to a CSV file
    df.to_csv('volcanoes.csv', index=False)

#### **TASK 1.1: 1 Liner Thingz (3 points)**

We need to get an idea of what this dataset is going to look. In order to do that, let's take a look at some of the most [basic things](https://dataanalytics.buffalostate.edu/pandas-cheat-sheet) our dataframe has.

**Read the directions carefully and code your answer with only one line of code.**

***CAN'T USE LOOPS. DO NOT DISPLAY THE DATAFRAME, JUST YOUR CODE OUTPUT HERE.***

**1.1.1:** *In one line of code and **using only one function**, show how many **total datapoints and features** there are in the dataframe **together**.*

In [7]:
# REMOVE THIS COMMENT AND ANSWER STARTING HERE
df.size

8600

**1.1.2:** *In one line of code, list the **names** of all the **features** in the dataframe.*

In [8]:
# REMOVE THIS COMMENT AND ANSWER STARTING HERE
df.columns.tolist()

['id',
 'year',
 'month',
 'day',
 'tsunamiEventId',
 'earthquakeEventId',
 'volcanoLocationId',
 'volcanoLocationNewNum',
 'volcanoLocationNum',
 'name',
 'location',
 'country',
 'latitude',
 'longitude',
 'elevation',
 'morphology',
 'agent',
 'deathsTotal',
 'deathsAmountOrderTotal',
 'damageAmountOrderTotal',
 'significant',
 'publish',
 'eruption',
 'status',
 'timeErupt',
 'vei',
 'deathsAmountOrder',
 'damageAmountOrder',
 'housesDestroyedAmountOrderTotal',
 'deaths',
 'injuries',
 'injuriesAmountOrder',
 'injuriesTotal',
 'injuriesAmountOrderTotal',
 'housesDestroyedAmountOrder',
 'housesDestroyed',
 'housesDestroyedTotal',
 'missingAmountOrder',
 'missingAmountOrderTotal',
 'missing',
 'missingTotal',
 'damageMillionsDollars',
 'damageMillionsDollarsTotal']

We won't be using some of the data because there is a lot of missing data.

**1.1.3:** *In one line of code, create a **new dataframe** called **new_df** that **contains all** the features of the **old** dataframe **except the following**:*

volcanoLocationNum, location, latitude, longitude, agent, significant,	publish,	eruption,	status, timeErupt, damageAmountOrder, damageAmountOrderTotal, housesDestroyedAmountOrder,	housesDestroyedAmountOrderTotal, housesDestroyed,	housesDestroyedTotal,	missingAmountOrder,	missingAmountOrderTotal,	missing,	missingTotal, damageMillionsDollars, damageMillionsDollarsTotal, injuries, injuriesAmountOrder, injuriesTotal, injuriesAmountOrderTotal, deathsAmountOrderTotal, and deathsAmountOrder.

In [19]:
# REMOVE THIS COMMENT AND ANSWER STARTING HERE
new_df = df.drop(columns=['volcanoLocationNum', 'location', 'latitude', 'longitude', 'agent', 'significant', 'publish', 'eruption', 'status', 'timeErupt', 'damageAmountOrder', 'damageAmountOrderTotal', 'housesDestroyedAmountOrder', 'housesDestroyedAmountOrderTotal', 'housesDestroyed', 'housesDestroyedTotal', 'missingAmountOrder', 'missingAmountOrderTotal', 'missing', 'missingTotal', 'damageMillionsDollars', 'damageMillionsDollarsTotal', 'injuries', 'injuriesAmountOrder', 'injuriesTotal', 'injuriesAmountOrderTotal', 'deathsAmountOrderTotal', 'deathsAmountOrder'])

# KEEP THIS. It will display the whole dataframe.
new_df

,id,year,month,day,tsunamiEventId,earthquakeEventId,volcanoLocationId,volcanoLocationNewNum,name,country,elevation,morphology,deathsTotal,vei,deaths
0,1,1169,2.0,4.0,2852.0,421.0,10106,211060,Etna,Italy,3357,Stratovolcano,16000.0,NaN,NaN
1,2,1329,7.0,NaN,NaN,NaN,10106,211060,Etna,Italy,3357,Stratovolcano,NaN,1.0,NaN
2,3,1883,3.0,NaN,NaN,NaN,30301,233010,Karthala,Comoros,2361,Shield volcano,NaN,2.0,NaN
3,4,1888,3.0,13.0,1175.0,NaN,50107,251070,Ritter Island,Papua New Guinea,75,Stratovolcano,NaN,2.0,NaN
4,5,1850,NaN,NaN,NaN,NaN,50214,252140,Rabaul,Papua New Guinea,688,Pyroclastic shield,NaN,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,933,1991,6.0,3.0,NaN,NaN,80210,282100,Unzendake,Japan,1483,Complex volcano,43.0,1.0,43.0
196,949,1331,12.0,NaN,NaN,NaN,80211,282110,Asosan,Japan,1592,Caldera,NaN,2.0,NaN
197,960,1485,1.0,NaN,NaN,NaN,80211,282110,Asosan,Japan,1592,Caldera,1.0,2.0,1.0
198,990,1826,10.0,NaN,NaN,NaN,80211,282110,Asosan,Japan,1592,Caldera,NaN,2.0,NaN
199,994,1854,2.0,NaN,NaN,NaN,80211,282110,Asosan,Japan,1592,Caldera,3.0,2.0,3.0

#### **TASK 1.2: 1 Liner Shenaniganz (7 points)**

We're going to tidy up the **new dataframe** a little more with some more advanced 1 liner code.

**Read the directions carefully and code your answer with only one line of code.**

**For this section, keep the method of display that is already in the box. Write your code as indicated.**

***YOU CAN'T USE ONE LINE LOOPS OR ANY KIND OF LOOP.***

**1.2.1:** *In one line of code, **discard any row** that contains **NaN** in **any one** of the columns indicating **time**.*

In [21]:
# REMOVE THIS COMMENT AND ANSWER STARTING HERE
new_df = new_df.dropna(subset=new_df.filter(like='time').columns)


# KEEP THIS. It will display the whole dataframe.
new_df

,id,year,month,day,tsunamiEventId,earthquakeEventId,volcanoLocationId,volcanoLocationNewNum,name,country,elevation,morphology,deathsTotal,vei,deaths
0,1,1169,2.0,4.0,2852.0,421.0,10106,211060,Etna,Italy,3357,Stratovolcano,16000.0,NaN,NaN
1,2,1329,7.0,NaN,NaN,NaN,10106,211060,Etna,Italy,3357,Stratovolcano,NaN,1.0,NaN
2,3,1883,3.0,NaN,NaN,NaN,30301,233010,Karthala,Comoros,2361,Shield volcano,NaN,2.0,NaN
3,4,1888,3.0,13.0,1175.0,NaN,50107,251070,Ritter Island,Papua New Guinea,75,Stratovolcano,NaN,2.0,NaN
4,5,1850,NaN,NaN,NaN,NaN,50214,252140,Rabaul,Papua New Guinea,688,Pyroclastic shield,NaN,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,933,1991,6.0,3.0,NaN,NaN,80210,282100,Unzendake,Japan,1483,Complex volcano,43.0,1.0,43.0
196,949,1331,12.0,NaN,NaN,NaN,80211,282110,Asosan,Japan,1592,Caldera,NaN,2.0,NaN
197,960,1485,1.0,NaN,NaN,NaN,80211,282110,Asosan,Japan,1592,Caldera,1.0,2.0,1.0
198,990,1826,10.0,NaN,NaN,NaN,80211,282110,Asosan,Japan,1592,Caldera,NaN,2.0,NaN
199,994,1854,2.0,NaN,NaN,NaN,80211,282110,Asosan,Japan,1592,Caldera,3.0,2.0,3.0

**1.2.2:** *In one line of code, **reset** the **index column** of the dataframe so that it has **1-based indexing**.*

In [22]:
# REMOVE THIS COMMENT AND ANSWER STARTING HERE
new_df.index = range(1, len(new_df) + 1)

# KEEP THIS. It will display the whole dataframe.
new_df

,id,year,month,day,tsunamiEventId,earthquakeEventId,volcanoLocationId,volcanoLocationNewNum,name,country,elevation,morphology,deathsTotal,vei,deaths
1,1,1169,2.0,4.0,2852.0,421.0,10106,211060,Etna,Italy,3357,Stratovolcano,16000.0,NaN,NaN
2,2,1329,7.0,NaN,NaN,NaN,10106,211060,Etna,Italy,3357,Stratovolcano,NaN,1.0,NaN
3,3,1883,3.0,NaN,NaN,NaN,30301,233010,Karthala,Comoros,2361,Shield volcano,NaN,2.0,NaN
4,4,1888,3.0,13.0,1175.0,NaN,50107,251070,Ritter Island,Papua New Guinea,75,Stratovolcano,NaN,2.0,NaN
5,5,1850,NaN,NaN,NaN,NaN,50214,252140,Rabaul,Papua New Guinea,688,Pyroclastic shield,NaN,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,933,1991,6.0,3.0,NaN,NaN,80210,282100,Unzendake,Japan,1483,Complex volcano,43.0,1.0,43.0
197,949,1331,12.0,NaN,NaN,NaN,80211,282110,Asosan,Japan,1592,Caldera,NaN,2.0,NaN
198,960,1485,1.0,NaN,NaN,NaN,80211,282110,Asosan,Japan,1592,Caldera,1.0,2.0,1.0
199,990,1826,10.0,NaN,NaN,NaN,80211,282110,Asosan,Japan,1592,Caldera,NaN,2.0,NaN
200,994,1854,2.0,NaN,NaN,NaN,80211,282110,Asosan,Japan,1592,Caldera,3.0,2.0,3.0

The **deathsTotal** and **deaths**  columns have approximations of the same data with alternating NaNs in each.

**1.2.3:** *In one line of code, make a **new column** called **'totalDeaths'** that takes the **max** of the values given between those* ***two*** *columns. If there is* ***NaN*** *in* ***one column*** *and a* ***numerical*** *value in the* ***other***, *it will ***take the numerical value***. ***Only*** if there are* ***NaNs*** *in* ***both*** *columns, the* ***new column will have NaN.***

In [23]:
# REMOVE THIS COMMENT AND ANSWER STARTING HERE
new_df['totalDeaths'] = new_df['deathsTotal'].combine_first(new_df['deaths'])

# KEEP THIS. It will display the whole dataframe.
new_df

,id,year,month,day,tsunamiEventId,earthquakeEventId,volcanoLocationId,volcanoLocationNewNum,name,country,elevation,morphology,deathsTotal,vei,deaths,totalDeaths
1,1,1169,2.0,4.0,2852.0,421.0,10106,211060,Etna,Italy,3357,Stratovolcano,16000.0,NaN,NaN,16000.0
2,2,1329,7.0,NaN,NaN,NaN,10106,211060,Etna,Italy,3357,Stratovolcano,NaN,1.0,NaN,NaN
3,3,1883,3.0,NaN,NaN,NaN,30301,233010,Karthala,Comoros,2361,Shield volcano,NaN,2.0,NaN,NaN
4,4,1888,3.0,13.0,1175.0,NaN,50107,251070,Ritter Island,Papua New Guinea,75,Stratovolcano,NaN,2.0,NaN,NaN
5,5,1850,NaN,NaN,NaN,NaN,50214,252140,Rabaul,Papua New Guinea,688,Pyroclastic shield,NaN,2.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,933,1991,6.0,3.0,NaN,NaN,80210,282100,Unzendake,Japan,1483,Complex volcano,43.0,1.0,43.0,43.0
197,949,1331,12.0,NaN,NaN,NaN,80211,282110,Asosan,Japan,1592,Caldera,NaN,2.0,NaN,NaN
198,960,1485,1.0,NaN,NaN,NaN,80211,282110,Asosan,Japan,1592,Caldera,1.0,2.0,1.0,1.0
199,990,1826,10.0,NaN,NaN,NaN,80211,282110,Asosan,Japan,1592,Caldera,NaN,2.0,NaN,NaN
200,994,1854,2.0,NaN,NaN,NaN,80211,282110,Asosan,Japan,1592,Caldera,3.0,2.0,3.0,3.0

#### **TASK 1.3: Tailoring Time (10 Points)**
It's pretty obvious that the year, month, and day look pretty weird in the dataset. We're going to have to do some hardcore cleaning on the [time](https://pandas.pydata.org/docs/user_guide/timeseries.html). We will learn more about data cleaning in class soon, but here we will perform some basic data cleaning.

**We need to have only ONE column called** "***date***" **that contains the full date (YYYY-MM-DD), not separated into three columns.**

***Make sure there are no floating point values in the date and sort the data from most recent to least.***

***Remove the old columns and place the new column next to the 'id' column.***


**YOU CAN USE MULTIPLE LINES OF CODE BUT CAN'T USE LOOPS.**

**Note:** It is alright to have only a **maximum of 12 NaTs** for some dates that often go further back than the 1600s because the datetime module in Pandas has a limit (unless otherwise guided).

In [24]:
# REMOVE THIS COMMENT AND ANSWER STARTING HERE
# Convert year, month, and day columns to integer, replacing NaNs with 1
new_df['year'] = new_df['year'].fillna(1).astype(int)
new_df['month'] = new_df['month'].fillna(1).astype(int)
new_df['day'] = new_df['day'].fillna(1).astype(int)

# Create the 'date' column by merging year, month, and day
new_df['date'] = pd.to_datetime(new_df[['year', 'month', 'day']], errors='coerce')

# Drop the old year, month, and day columns
new_df = new_df.drop(columns=['year', 'month', 'day'])

# Move 'date' column next to 'id'
columns = list(new_df.columns)
columns.insert(columns.index('id') + 1, columns.pop(columns.index('date')))
new_df = new_df[columns]

# Sort by 'date' from most recent to least
new_df = new_df.sort_values(by='date', ascending=False).reset_index(drop=True)

# KEEP THIS. It will display the whole dataframe.
new_df

,id,date,tsunamiEventId,earthquakeEventId,volcanoLocationId,volcanoLocationNewNum,name,country,elevation,morphology,deathsTotal,vei,deaths,totalDeaths
0,693,1996-08-10,NaN,NaN,70202,272020,Kanlaon,Philippines,2435,Stratovolcano,3.0,2.0,3.0,3.0
1,112,1994-11-22,NaN,NaN,60325,263250,Merapi,Indonesia,2910,Stratovolcano,60.0,3.0,60.0,60.0
2,933,1991-06-03,NaN,NaN,80210,282100,Unzendake,Japan,1483,Complex volcano,43.0,1.0,43.0,43.0
3,144,1990-02-10,NaN,NaN,60328,263280,Kelud,Indonesia,1730,Stratovolcano,32.0,4.0,32.0,32.0
4,486,1988-05-09,NaN,NaN,60509,265090,Banda Api,Pacific Ocean,596,Caldera,4.0,3.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,844,NaT,61.0,7341.0,80208,282080,Aira,Japan,1117,Stratovolcano,NaN,3.0,NaN,NaN
196,846,NaT,NaN,NaN,80208,282080,Aira,Japan,1117,Stratovolcano,NaN,5.0,NaN,NaN
197,904,NaT,NaN,NaN,80209,282090,Kirishimayama,Japan,1700,Shield volcano,NaN,3.0,NaN,NaN
198,949,NaT,NaN,NaN,80211,282110,Asosan,Japan,1592,Caldera,NaN,2.0,NaN,NaN
199,960,NaT,NaN,NaN,80211,282110,Asosan,Japan,1592,Caldera,1.0,2.0,1.0,1.0

### **Part 2: Volcanic Matryoshkas ü™Ü (30 POINTS TOTAL)**

Now, that most of the data has been tidied up. We will organize the data into more sizable pieces of information in order to extract useful information.

**2.1.1:** *(10 points here)*

**Use the groupby function in Pandas to create separate dataframes for each unique country.**

* Each table must only have the columns: 'date' 'country', 'name', and 'vei'

* Sort the dataframe of each country by highest to lowest 'vei'

**You MUST use the groupby function here.**

In [26]:
# REMOVE THIS COMMENT AND ANSWER STARTING HERE
grouped_dfs = {
    country: df[['date', 'country', 'name', 'vei']].sort_values(by='vei', ascending=False)
    for country, df in new_df.groupby('country')
}

**2.1.2:** *(5 points here)*

**Using groupby again, print out the maximum 'vei' for each unique country.**

**You MUST use the groupby function here.**

* Print out your results in a format like the following: "Country: {country_name}, Highest VEI: {vei}"

In [ ]:
# REMOVE THIS COMMENT AND ANSWER STARTING HERE

**2.1.3:** *(15 points here)*

Finally, we have ALMOST REACHED THE END!!
Since there is still quite a bit of missing data, we want to make use of what is still available.

A very powerful tool in Python's magnificent collection of libraries is its beautiful graphing tools.

Check out libraries such as [Seaborn](https://seaborn.pydata.org/) or [Matplotlib](https://matplotlib.org/stable/index.html) to create meaningful visualizations! **Your final task requires the use of these libraries**

**Based on the unique names of volcanos, filter names that have more than 3 datapoints under their name.**

* Make separate graphs for each volcano and plot their VEIs over time.

* Make sure to properly label all parts of the graph.

In [ ]:
# REMOVE THIS COMMENT AND ANSWER STARTING HERE

### **Part 3: Fiery Jobs üöí (15 POINTS TOTAL)**

Proficiency in SQL is also super important. SQL databases are essentially relational databases in which there are vast amounts of tabular data. which can often be used to connect with related tablular data. [This](https://www.w3schools.com/sql/) is a pretty good intro into learning more about SQL.

Check out this [tutorial](https://mode.com/sql-tutorial/introduction-to-sql/) for some clarifications on SQL.

Now! We'll be using **sqlite** to access a database.
* Start by downloading the sql lite file and putting it in the same directory as this [notebook](https://www.kaggle.com/datasets/kaggle/sf-salaries) (hit the 'download' button in the upper right).
* Check out the description of the data so you know the table / column names.

The following code will use sqlite3 to create a database connection. sqlite3 is the library in Python that assists in navigating through SQL databases.

In [ ]:
import sqlite3
# import pandas as pd. Pandas was already imported from the previous sections

conn = sqlite3.connect("database.sqlite")
crsr = conn.cursor()

In [ ]:
# This code will let you check out the different tables within the database.
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = crsr.execute(query).fetchall()
print(tables)

[('Salaries',)]

##### **Remember that each problem should be solved with a single sql query.**
**All outputs must be shown**

#### **3.1.1: 2 Points**
***From the Salaries table, get the average base pay for "firefighters" (all job titles consisting of the word "firefighter" (not case sensitive)) between the year 2011 to 2013.***

In [1]:
query = 'REMOVE THIS CONTENT AND ANSWER IN HERE'

# KEEP THIS. It will display the whole dataframe.
df = pd.read_sql(query, conn)
df

NameError: name 'pd' is not defined

#### **3.1.2: 2 Points**
***From the Salaries table, create a table for the year 2014, with a job title of "firefighters" (all job titles consisting of the word "firefighter" (not case sensitive)) making under $100,000 as a base pay, and sort in descending order by salary.***

In [ ]:
query = 'REMOVE THIS CONTENT AND ANSWER IN HERE'

# KEEP THIS. It will display the whole dataframe.
df = pd.read_sql(query, conn)
df

#### **3.1.3: 4 Points**
***Create a dataframe with averages of base pay, averages of benefits, and averages of overtime for "firefighters" (all job titles consisting of the word "firefighter" (not case sensitive)) as well as a column with the sum of these three values.***

***Exclude job titles containing "FIREFIGHTER" (case-sensitive)***

In [ ]:
query = 'REMOVE THIS CONTENT AND ANSWER IN HERE'

# KEEP THIS. It will display the whole dataframe.
df = pd.read_sql(query, conn)
df

#### **3.1.4: 7 Points**

***Finally, we'll create our own table in our database. Separate the Salaries table by years, and add it back to the database. Using a loop might be helpful.***

* You may use basic python to complete the task. However, using querying on SQL is **mandatory**.
* Feel free to **use multiple lines of code for this problem only.**
* Check out this [Hint](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html)

In [ ]:
# REMOVE THIS CONTENT AND ANSWER IN YOUR OWN WAY

In [ ]:
# Run this code to check if you successfully added your table.
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('Salaries',)]

![volcano](https://as1.ftcdn.net/v2/jpg/06/34/76/64/1000_F_634766457_0fZbpYj6aBLlldO1jADUPpKTRLnNmngs.jpg)